In [23]:
# saf
import pandas as pd
import numpy as np
import glob
import warnings
warnings.filterwarnings("ignore", message="Workbook contains no default style")

file_paths = glob.glob("./data/아파트(매매)_경기*.xlsx")

# DataFrames for multiple districts(구)
yongin_df = pd.DataFrame()
anyang_df = pd.DataFrame()
suwon_df = pd.DataFrame()

for file_path in file_paths:
    df = pd.read_excel(file_path, skiprows=12) 
    df['거래금액(만원)'] = df['거래금액(만원)'].replace(',', '', regex=True).astype(float)
    
    if '용인' in file_path:yongin_df = pd.concat([yongin_df, df], ignore_index=True)
    elif '안양' in file_path:anyang_df = pd.concat([anyang_df, df], ignore_index=True)
    elif '수원' in file_path:suwon_df = pd.concat([suwon_df, df], ignore_index=True)
    else:
        pivot_df = pd.pivot_table(
            data=df,
            index=['건축년도', '전용면적(㎡)'],
            values='거래금액(만원)',
            aggfunc='mean'
        ).round(0).astype(int)   #integer, round up 
        print(f"테이블 ({file_path}):")
        print(pivot_df)
        print("\n")

if not yongin_df.empty:
    yongin_pivot = pd.pivot_table(
        data=yongin_df,
        index=['건축년도', '전용면적(㎡)'],
        values='거래금액(만원)',
        aggfunc='mean'
    ).round(0).astype(int)
    print("용인시(기흥, 수지, 처인구):")
    print(yongin_pivot)


if not anyang_df.empty:
    anyang_pivot = pd.pivot_table(
        data=anyang_df,
        index=['건축년도', '전용면적(㎡)'],
        values='거래금액(만원)',
        aggfunc='mean'
    ).round(0).astype(int)
    print("\n안양시(동안,만안구):")
    print(anyang_pivot)


if not suwon_df.empty:
    suwon_pivot = pd.pivot_table(
        data=suwon_df,
        index=['건축년도', '전용면적(㎡)'],
        values='거래금액(만원)',
        aggfunc='mean'
    ).round(0).astype(int)
    print("\n수원(권선, 영통, 장안, 팔달구):")
    print(suwon_pivot)

테이블 (./data\아파트(매매)_경기과천.xlsx):
               거래금액(만원)
건축년도 전용면적(㎡)
1982 47.3000     122094
     54.4800     128238
     73.7300     149250
     73.8400     149000
     82.0100     167000
...                 ...
2022 112.9200    247000
2023 74.9508     120000
     74.9933     144000
     84.9763     147000
     99.9397     144000

[95 rows x 1 columns]


테이블 (./data\아파트(매매)_경기광명.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1986 53.4600     69425
     60.2100     77169
     61.3800     75000
     73.0800     82129
     73.0900     85200
...                ...
2023 32.7886     14764
     49.9576     66500
     59.9753     79500
     59.9963     78000
     74.9851     86000

[287 rows x 1 columns]


테이블 (./data\아파트(매매)_경기광주.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1994 83.2500     34000
     84.8700     31500
1995 49.8800     22083
     59.7600     26750
     59.9730     26400
...                ...
2024 74.9676     43770
     84.4041     50416
     84.9436     54501
     84.9658     64000
     84.9927     66500

[297 rows x 1 columns]


테이블 (./data\아파트(매매)_경기군포.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1983 49.0900     19750
1986 44.2800     21000
     45.4500     12850
     46.4400     23275
     55.4400     26000
...                ...
2021 74.2062     56350
2022 72.9690     92583
     73.5713     93862
     84.8291    110250
     84.9282    107464

[330 rows x 1 columns]


테이블 (./data\아파트(매매)_경기의왕.xlsx):
               거래금액(만원)
건축년도 전용면적(㎡)
1983 48.3000      20000
1985 41.3100      21558
     51.0300      25990
     55.4480      25000
     69.0880      27000
...                 ...
2021 74.9100      49429
     84.9116      85800
     84.9681      82960
     113.0010    102188
2024 79.8900      57900

[202 rows x 1 columns]


테이블 (./data\아파트(매매)_경기이천.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1984 40.2600      9350
1985 52.8800     14250
     53.9000     13000
     66.4700     16000
1986 52.0100      8000
...                ...
2023 73.9923     29176
     84.9838     32890
2024 75.9909     26236
     84.5604     30960
     84.8222     30270

[281 rows x 1 columns]


테이블 (./data\아파트(매매)_경기하남.xlsx):
               거래금액(만원)
건축년도 전용면적(㎡)
1991 40.8000      27833
1994 49.5800      50445
     49.9800      44829
     59.9700      62732
     84.8900      65936
...                 ...
2022 113.6012    153500
     119.3196    160000
     236.9647    200450
2023 84.8934     105000
2024 84.8740     103000

[318 rows x 1 columns]


용인시(기흥, 수지, 처인구):
              거래금액(만원)
건축년도 전용면적(㎡)
1979 63.0800     14250
1986 50.7300     12800
     53.5200     12000
1987 42.6600      6250
     45.7450     10900
...                ...
2024 75.9810     43000
     84.5139     64000
     84.8409     52552
     84.8501     45000
     84.9156     40000

[1351 rows x 1 columns]

안양시(동안,만안구):
               거래금액(만원)
건축년도 전용면적(㎡)
1978 53.9800      22350
     54.6100      22000
     102.4800     38000
1979 67.0750      37900
     67.0800      40500
...                 ...
2023 84.9400      87000
     84.9600      85890
2024 59.9793      72000
     62.1200      42950
     74.0037      80800

[810 rows x 1 columns]

수원(권선, 영통, 장안, 팔달구):
               거래금액(만원)
건축년도 전용면적(㎡)
1978 76.9900      32500
     104.8300     30300
     106.8400     38000
1979 49.3200      10500
     54.2500      49000
...                 ...
2023 104.7512    136700
     104.9256    148000
     110.1500    112750
2024 59.8400      69250
     59.8700      59900

[1374 rows x 1 columns]