In [1]:
import pandas as pd
import glob
import warnings
warnings.filterwarnings("ignore", message="Workbook contains no default style")

file_paths = glob.glob("./data/xlsx/아파트(매매)_경기*.xlsx")

# DataFrames for multiple districts(구)
yongin_df = pd.DataFrame()
anyang_df = pd.DataFrame()
suwon_df = pd.DataFrame()

for file_path in file_paths:
    df = pd.read_excel(file_path, skiprows=12) 
    df['거래금액(만원)'] = df['거래금액(만원)'].replace(',', '', regex=True).astype(float)
    df['전용면적(㎡)'] = df['전용면적(㎡)'].replace(',', '', regex=True).astype(int)
     #
    df = df[(df['전용면적(㎡)'] >= 80) & (df['전용면적(㎡)'] <= 85)]
    if '용인' in file_path:yongin_df = pd.concat([yongin_df, df], ignore_index=True)
    elif '안양' in file_path:anyang_df = pd.concat([anyang_df, df], ignore_index=True)
    elif '수원' in file_path:suwon_df = pd.concat([suwon_df, df], ignore_index=True)
    else:
        pivot_df = pd.pivot_table(
            data=df,
            index=['건축년도', '전용면적(㎡)'],
            values='거래금액(만원)',
            aggfunc='mean'
        ).round(0).astype(int)   #integer, round up 
        print(f"테이블 ({file_path}):")
        print(pivot_df)
        print("\n")

if not yongin_df.empty:
    yongin_pivot = pd.pivot_table(
        data=yongin_df,
        index=['건축년도', '전용면적(㎡)'],
        values='거래금액(만원)',
        aggfunc='mean'
    ).round(0).astype(int)
    print("용인시(기흥, 수지, 처인구):")
    print(yongin_pivot)

if not anyang_df.empty:
    anyang_pivot = pd.pivot_table(
        data=anyang_df,
        index=['건축년도', '전용면적(㎡)'],
        values='거래금액(만원)',
        aggfunc='mean'
    ).round(0).astype(int)
    print("\n안양시(동안,만안구):")
    print(anyang_pivot)

if not suwon_df.empty:
    suwon_pivot = pd.pivot_table(
        data=suwon_df,
        index=['건축년도', '전용면적(㎡)'],
        values='거래금액(만원)',
        aggfunc='mean'
    ).round(0).astype(int)
    print("\n수원(권선, 영통, 장안, 팔달구):")
    print(suwon_pivot)

테이블 (./data/xlsx/아파트(매매)_경기군포.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1990 84          39750
1992 84          51023
1993 84          42000
1994 80          52022
     84          56028
1996 84          42400
1997 84          52686
1998 84          42000
2000 84          38700
2001 83          32500
     84          67800
2002 84          64756
2003 80          34500
     82          29000
     83          33000
     84          48811
2004 82          32000
     83          33000
     84          47563
2005 84          52910
2006 82          32600
     83          36167
     84          45407
2007 83          34000
     84          58722
2008 84          49717
2009 84          50050
2010 84          79282
2014 84          56385
2018 84          62517
2019 84          64112
2022 84         107812


테이블 (./data/xlsx/아파트(매매)_경기광명.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1986 83          91109
     84          91639
1990 81          44933
     84          66680
1991 84          43680
1992 84          63408
1993 84          50394
1994 84          49700
1995 82          42050
     84          49677
1997 84          72717
1998 84          60331
1999 84          51250
2000 84          59200
2001 84          62620
2002 84          69443
2003 84          68664
2005 84          67977
2006 84          64110
2007 84          72322
2009 84          96129
2010 84          91112
2011 84          74306
2015 84          77973
2017 84         108859
2018 84         117403
2019 84         124678
2021 84         101248
2022 81          55600
     84         118621


테이블 (./data/xlsx/아파트(매매)_경기하남.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1994 84          65602
1995 84          61930
1996 84          47625
1997 84          55611
1998 84          50312
1999 84          65189
2000 84          70000
2001 84          53300
2002 84          56069
2003 83          44300
2004 80          52950
     83          75924
     84          56500
2005 84          51622
2006 84          62981
2007 84          72413
2008 84          83786
2010 81          52000
2014 84          92821
2015 84          88072
2016 84          99914
2017 84          89065
2018 84          90279
2019 84          98423
2020 84         116206
2021 84         103341
2022 84         116150
2023 84         105000
2024 84         103000


테이블 (./data/xlsx/아파트(매매)_경기광주.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1994 83          34000
     84          31500
1995 84          27000
1996 84          32800
1998 84          29914
1999 84          31159
2000 84          30482
2001 84          35037
2002 84          28719
2003 84          27746
2004 84          34107
2005 84          27663
2006 84          51000
2007 80          35125
     84          31315
2009 84          26000
2010 84          41695
2011 84          40488
2013 84          35108
2016 80          53500
     84          64201
2017 84          55894
2018 84          47646
2019 84          40924
2020 84          44230
2021 84          74319
2022 84          56221
2023 84          47550
2024 84          57403


테이블 (./data/xlsx/아파트(매매)_경기이천.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1990 81           9300
     84           8775
1991 83          18300
     84          20978
1992 84          20600
1993 84          20400
1994 84          21586
1995 84          10000
1997 84          22495
1998 84          27592
1999 84          26850
2000 84          26802
2001 84          23920
2002 84          21796
2003 84          24040
2004 84          19617
2005 84          34777
2006 84          28409
2007 84          33450
2008 84          39950
2009 84          28661
2010 84          39435
2011 84          49500
2013 84          43500
2014 84          36878
2015 81          26000
2016 84          48250
2017 84          38867
2018 84          54511
2019 82          37965
     84          42640
2021 84          43882
2023 84          32890
2024 84          30615


테이블 (./data/xlsx/아파트(매매)_경기과천.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1982 82         167000
1983 82         159357
     83         172970
2007 84         161141
2008 84         152388
2018 84         171511
2020 84         188659
2021 84         181635
2022 84         190125
2023 84         147000


테이블 (./data/xlsx/아파트(매매)_경기의왕.xlsx):
              거래금액(만원)
건축년도 전용면적(㎡)
1991 82          37875
     84          75262
1992 82          34400
1993 84          82100
1994 82          47712
     84          46447
1995 84          46322
1997 84          50060
1998 84          45062
1999 84          45400
2000 84          49038
2001 84          65206
     85          64000
2002 84          62253
2003 84          52936
2004 83          53900
     84          53045
2005 80          46000
     81          45000
     84          43833
2007 84          81336
2008 84          53000
2009 80          72967
     84          83455
2011 84          92052
2012 84          88714
2017 84          44000
2018 84          66025
2019 84          97343
2021 84          84076


용인시(기흥, 수지, 처인구):
              거래금액(만원)
건축년도 전용면적(㎡)
1990 81          13000
     83          10000
     84          14438
1991 82          17975
     84          18825
1992 84          41500
1993 83          53500
     84          24575
1994 84          76490
1995 84          42175
1996 82           8250
     84          28002
1997 83           9225
     84          57075
1998 84          50984
1999 84          59179
2000 83          59500
     84          74521
2001 84          57657
2002 81          24929
     84          59669
2003 83          65064
     84          58206
2004 81          33367
     83          65987
     84          59347
2005 82          65031
     83          37839
     84          49567
2006 80          41867
     84          52231
2007 84          63173
2008 84          38813
2009 84          56667
2010 84          72031
2011 84         105898
2012 84          69836
2013 84          56888
2014 84          64278
2015 84          86828
2016 84          62732
2017 83          53706
     84          85160
2018 84          67270
2019 84          94091
2020 84         101257
2021 84          86051
2022 84          85159
2023 84          71379
2024 84          51470

안양시(동안,만안구):
              거래금액(만원)
건축년도 전용면적(㎡)
1979 82          39800
     85          35500
1985 84          74413
1987 85          50200
1990 84          42605
1991 84          45480
1992 84          73367
     85         103000
1993 84          84328
1994 80          31150
     84          79896
1995 84          72289
1996 84          43810
1997 84          42550
1998 84          94896
1999 84          53804
2000 84          57335
2001 83          30000
     84          73678
2002 80         102125
     84          63715
2003 80          59000
     81          50300
     82          63710
     84          60953
2004 83          49025
     84          70342
2005 81          46000
     82          60746
     83          55400
     84          52226
2006 84          46333
2007 80          52500
     82          40000
     84          53237
2008 80          35688
     83          52000
     84          73900
2009 84          61379
2010 84          64741
2012 84          88854
2013 84          45860
2014 80          35300
     84          48620
2015 82          28000
     84          72812
2016 80          31600
     84          98099
2017 84          59119
2018 81          87000
     82          77250
2019 84          94675
2021 84          89795
2022 84          95098
2023 84          91555

수원(권선, 영통, 장안, 팔달구):
              거래금액(만원)
건축년도 전용면적(㎡)
1982 82          35302
1984 80          20600
1985 83          85522
     84          77188
1988 84          39614
1989 82          31500
     84          40440
1990 84          41037
1991 84          42843
1992 84          30334
1993 82          48000
     83          34967
     84          35646
1994 81          34800
     83          29069
     84          34873
1995 84          33035
1996 84          40939
1997 84          54907
1998 83          30367
     84          39568
1999 84          53614
2000 83          30500
     84          44679
2001 82          28021
     84          49841
2002 84          51043
2003 84          53282
2004 82          25300
     84          50193
2005 83          41500
     84          46099
2006 84          46644
2007 81          34000
     83          26333
     84          44993
2008 82          53400
     84          64105
2009 84          55349
2010 84          58933
2011 84          66600
2012 84          98735
2013 84          86065
2014 84          72154
2015 84          63440
2016 84          63225
2017 84          74560
2018 84          79524
2019 84         115976
     85          55710
2021 84         101988
2022 81          57818
     84          71699
2023 84          87524